
.listItem {
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	margin-bottom: 0.5rem;	
	padding: 0.2rem 0.4rem;
	border-radius: 0.65rem;
	background: var(--background);
}

.listItem span {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: 500;
}

.deleteButton {
	height: 1.8rem;
	width: 1.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.deleteButton svg path {
	fill: var(--color-primary);
	pointer-events: none;
}

.deleteButton svg {
	pointer-events: none;
}

.categoryIcon {
	border-radius: 50%;
	padding: 0.2rem;
	background: var(--color-primary);
}

.li__date {
	margin-right: 0.5rem;
}
