
.sumDisplaySection {
	width: 100%;
	height: 12rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	border-radius: 0.6rem;
	color: var(--background);
	background: linear-gradient(180deg, var(--color-button), #7A1A53);

}

.sumDisplaySection div:nth-child(1) {
	align-self: end;
}