
.sumDisplaySection {
	width: 100%;
	max-width: 22.5rem;
	height: 12rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto;
	padding: 1rem;
	border-radius: 0.6rem;
	color: var(--background);
	background: linear-gradient(180deg, var(--color-button), #7A1A53);
	
}

.sumDisplaySection div:nth-child(1) {
	align-self: end;
}

.todaySum {
	text-align: end;
	font-size: 24px;
}

.totalSum {
	font-size: 30px;
}

.todaySum {
	
}

@media screen and (max-width: 500px ) {
	.sumDisplaySection {		
		max-width: 100%;
		
	}
	
}